.git
.gitignore
.DS_Store
.env
.env.*
!.env.docker.example
.idea
.vscode
node_modules
vendor
runtime/*
!runtime/index.html
public/uploads/*
!public/uploads/index.html
public/storage/*
public/qrcode/*
tests
phpunit.xml.dist
*.log
