<IfModule mod_rewrite.c>
  Options +FollowSymlinks -Multiviews
  RewriteEngine On

  RewriteRule ^t/[0-9]+/admin(/.*)?$ admin/index.html [QSA,L]
  RewriteRule ^t/[0-9]+/pc(/.*)?$ pc/index.html [QSA,L]
  RewriteRule ^t/[0-9]+/mobile(/.*)?$ mobile/index.html [QSA,L]

  RewriteCond %{REQUEST_FILENAME} !-d
  RewriteCond %{REQUEST_FILENAME} !-f
  RewriteRule ^(.*)$ index.php/$1 [QSA,PT,L]
</IfModule>
